.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    color: #030303;
    height: auto;

    &-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 45rem;
        margin: 5rem auto 7rem;
        font-size: 2.6rem;

        @include respond(bigphone) {
            flex-direction: column;
            margin: 3rem auto 14rem;
            width: 100%;
        }
    }
}
