.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 10%;
    animation: moveInTop 1s ease 0.75s;
    animation-fill-mode: backwards;
    z-index: 500;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px #03030333;

    @include respond(phone) {
        padding: 2rem 10% 2rem;
    }

    &-logo {
        font-family: 'Courgette', cursive;
        font-size: 4rem;
        width: 180px;
        white-space: nowrap;

        @include respond(phone) {
            font-size: 3.5rem;
        }

        &,
        &:link,
        &:visited {
            text-decoration: none;
            color: $primary;
        }
        &:hover {
            cursor: pointer;
        }
    }

    &-nav {
        display: flex;
        align-items: center;
        font-size: 2.6rem;
        
                @include respond(phone) {
                    font-size: 2.4rem;
                    margin-top: 4px;
                }
        
                @include respond(smallphone) {
                    font-size: 2.4rem;
                }
        
        &-link {
            margin: 0 3.5rem;
            @include animBorder(300ms);

            @include respond(bigphone) {
                margin: 0 2rem;

                &:last-of-type {
                    margin-right: 0;
                }
            }

            @include respond(phone) {
                margin: 0 1.6rem;
            }

            @include respond(smallphone) {
                margin: 0 1.2rem;
            }

            &,
            &:link,
            &:visited {
                text-decoration: none;
                color: #030303;
            }
            &_work {
            }
            &_selected {
                &,
                &:link,
                &:visited {
                    margin-left: 4rem;
                    text-decoration: none;
                    color: #030303;
                    &::after {
                        content: "";
                        position: relative;
                        display: block;
                        height: 3px;
                        width: 100%;
                        background-color: #030303;
                        transform: scaleX(1);
                        transform-origin: 0%;
                        top: 2px;
                    }
                }
            }
        }
    }

    &-social {
        width: 180px;
    }
}

.social-links {
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
    box-shadow: 0px 5px 8px 6px #03030333;
    z-index: 201;
    width: 100%;
    justify-content: space-around;
    animation: moveInBottom 1s ease 0.75s;
    animation-fill-mode: backwards;
}
