.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 10% 10rem;
    color: #f7f7f2;
    animation: fadeIn 0.5s ease-out 0.5s;
    animation-fill-mode: backwards;
    overflow-y: visible !important;
}
